// Левая часть (список чатов)
.chat-aside {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 310px;
  border-right: 1px solid var(--border-color);
  background-color: #fbfbfb;
}

// Правая (основная) часть (список сообщений выбранного чата)
.chat-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  padding: 0 20px;
  overflow: hidden;
}

/* ****** */

// Переход на профиль
.chat-aside__profile {
  flex-shrink: 0;
  height: 50px;
  padding: 10px;
  line-height: 30px;
  text-align: right;
  > a {
    color: var(--color-gray);
    &:hover {
      color: #094bb0;
    }
  }
}

.no-messages {
  margin: auto;
  text-align: center;
  color: var(--color-gray);
}

.hr_chat-sep {
  display: block;
  margin: 0 10px;
  border: none;
  border-top: 1px solid var(--border-color);
}
