.profile__back {
  display: flex;
  width: 65px;
  background: url("../../assets/ico-arrow.svg") center no-repeat #fbfbfb;
  border-right: 1px solid var(--border-color);
  cursor: pointer;

  &:hover {
    background-color: #e4edfd;
  }
}

.profile {
  width: 100%;
  padding: 60px 20px 20px;
}

// Данные профиля

.profile-data {
  width: 510px;
  max-width: 100%;
  margin: 0 auto;
}

.profile-avatar {
  position: relative;
  width: 130px;
  height: 130px;
  margin: 0 auto 20px;
  border-radius: 50%;
  overflow: hidden;

  .avatar {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-image: url("../../assets/avatar.svg");
  }

  > .form-group {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;

    > .form-label {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: inherit;
      color: white;
      background-color: rgb(0 0 0 / 0.5);
      opacity: 0;

      &:hover {
        opacity: 1;
      }
    }

    > .form-control {
      display: none !important;
    }
  }
}

.profile-name {
  margin: 0;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.profile-list {
  margin-top: 60px;
  font-size: 13px;
  color: var(--color-text2);
}

.profile-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  & + & {
    border-top: 1px solid var(--border-color);
  }

  &__value {
    color: var(--color-gray);
  }

  &__edit {
    width: 50%;
  }
}

.profile-links {
  list-style: none;
  margin: 60px 0 0;
  padding: 0;
  font-size: 13px;
  color: var(--color-text2);

  > li {
    margin: 0;
    padding: 10px 0;
    border-top: 1px solid var(--border-color);
    &:first-of-type {
      border-top: none;
    }
  }
}

/***********   */

.form-control_profile {
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  text-align: right;
  color: var(--color-gray);

  &:focus {
    color: var(--color-text2);
  }
}

.profile-data .form-group_btns {
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
}
