.form-group {
  margin-top: 1rem;

  &_btns {
    margin-top: 3rem;
  }
}

.form-label {
  color: var(--color-gray);
  font-size: 0.7rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: var(--color-bg);
  border: none;
  border-bottom: 1px solid var(--color-blue);
  outline: none;

  .has-error > & {
    color: #ff2f2f;
  }
}
