.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 340px;
  margin: auto;
  padding: 30px;
  border-radius: 0.8rem;
  background-color: var(--color-bg);
  box-shadow: 0 0 6px rgba(0,0,0, 0.14);

  &__title {
    margin: 0 0 40px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;

    &_small {
      font-size: 15px;
    }
  }

  &__overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba(0,0,0, 0.4);
  }
}
