// Список чатов
.chat__channels {
  display: flex;
  flex-direction: column;
  width: 310px;
  min-width: 310px;
  border-right: 1px solid var(--border-color);
  background-color: #fbfbfb;
}

// Список сообщений выбранного чата
.chat__messages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 0 20px;
}

// Переход на профиль
.profile-link {
  height: 50px;
  padding: 10px;
  line-height: 30px;
  text-align: right;
  > a {
    color: var(--color-gray);
    &:hover {
      color: #094bb0;
    }
  }
}

// Форма поиска чатов
.form_channels-search {
  .form-group {
    margin: 0 0 10px;
    padding: 0 10px;
  }
  .form-control_search {
    display: block;
    width: 100%;
    height: 32px;
    padding: 0 10px;
    background: #efefef;
    border: none;
    border-radius: 5px;
    outline: none;
    text-align: center;
  }
}

// Список чатов/каналов
.channels-list {
  overflow-y: auto;
}

.channel-sep {
  margin: 0 10px;
  border-top: 1px solid var(--border-color);
}

// Элемент чата в списке
.channel-item {
  display: flex;
  gap: 10px;
  margin: 2px 0;
  padding: 10px;
  cursor: pointer;

  &:hover,
  &.active {
    background-color: #e4edfd;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: calc(100% - 58px);
  }

  &__avatar {
    width: 47px;
    height: 47px;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 4px;
    white-space: nowrap;
  }
  &__title {
    margin: 0;
    font-size: 13px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__date {
    font-size: 9px;
    color: var(--color-gray);
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  &__text {
    width: 100%;
    height: 30px;
    overflow: hidden;
    color: var(--color-gray);
    line-height: 15px;
  }
  &__count {
    align-self: flex-end;
  }
  &__cnt {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #3369f3;
    color: white;
    text-align: center;
    line-height: 20px;
  }
}

// Блок заголовка профиля в чате
.chat__profile {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 54px;
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);

  &__avatar {
    width: 34px;
    height: 34px;
  }

  &__name {
    font-weight: bold;
  }
}

// Форма отправки сообщения
.chat__send-message {
  display: flex;
  height: 54px;
  padding: 10px 0;
  border-top: 1px solid var(--border-color);

  .form_send-message {
    display: flex;
    gap: 10px;
    width: 100%;
  }

  .form-control_message {
    width: 100%;
    height: 34px;
    padding: 10px 20px;
    border: none;
    border-radius: 16px;
    outline: none;
    background-color: #efefef;
  }

  .btn_send-message {
    width: 34px;
    height: 34px;
    min-width: 34px;
    min-height: 34px;
    border: none;
    border-radius: 16px;
    outline: none;
    background: url("../assets/ico-arrow.svg") center no-repeat;
    transform: rotate(180deg);
    cursor: pointer;
  }
}

.no-messages {
  margin: auto;
  color: var(--color-gray);
}

.messages-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  margin-right: -20px;
  padding-right: 20px;
}

.chat-date {
  margin-bottom: 30px;
  align-self: center;
  color: var(--color-gray);

  .chat-message + & {
    margin-top: 30px;
  }
}

.chat-message {
  position: relative;
  max-width: 40%;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 11px;
  padding-bottom: 25px;

  &_in {
    border-top-left-radius: 0;
    background-color: #f8f8f8;
  }
  &_out {
    align-self: end;
    border-bottom-right-radius: 0;
    background-color: #e4edfd;
  }

  &__time {
    position: absolute;
    right: 11px;
    bottom: 11px;
    color: var(--color-gray);
    font-size: 9px;
  }

  p {
    margin: 0;
    + p {
      margin-top: 11px;
    }
  }
}
