:root {
  --delay: 200ms;
  --color-text: black;
  --color-text2: #1e1e1e;
  --color-bg: white;
  --color-white: white;
  --color-red: red;
  --color-blue: #3369f3;
  --color-lightgray: #efefef;
  --color-gray: #999;
  --border-color: #eaeaea;
}
