:root {
  --delay: 200ms;
  --color-text: black;
  --color-text2: #1e1e1e;
  --color-text3: #212529;
  --color-bg: white;
  --color-white: white;
  --color-red: red;
  --color-error: #ff2f2f;
  --color-blue: #3369f3;
  --color-lightgray: #efefef;
  --color-gray: #999;
  --border-color: #eaeaea;
  --color-link: #0d6efd;
  --color-link-hover: #094bb0;
  --color-lightgray-bg: #fbfbfb;
  --color-lightgray-bg-hover: #e4edfd;
}
