---
title: Ошибка 404
styles:
  - '../styles/page-error.scss'
---

{{!< main}}

<main class="error-box">
  <h1 class="error__title">404</h1>
  <p class="error__text">Не туда попали</p>
  <div class="error__link-back">
    <a href="./index.hbs">Назад к чатам</a>
  </div>
</main>
