---
title: Профиль
styles:
  - '../styles/page-profile.scss'
---

{{!< main}}

<div class="fbox">

  <a class="profile__back" href="./index.hbs"></a>

  <main class="profile">

    <div class="profile-data">

      <div class="avatar profile-avatar"></div>

      <h2 class="profile-name">Иван</h2>

      <div class="profile-list">
        <div class="profile-item">
          <div class="profile-item__name">Почта</div>
          <div class="profile-item__value">pochta@yandex.ru</div>
        </div>
        <div class="profile-item">
          <div class="profile-item__name">Логин</div>
          <div class="profile-item__value">ivanivanov</div>
        </div>
        <div class="profile-item">
          <div class="profile-item__name">Имя</div>
          <div class="profile-item__value">Иван</div>
        </div>
        <div class="profile-item">
          <div class="profile-item__name">Фамилия</div>
          <div class="profile-item__value">Иванов</div>
        </div>
        <div class="profile-item">
          <div class="profile-item__name">Имя в чате</div>
          <div class="profile-item__value">Иван</div>
        </div>
        <div class="profile-item">
          <div class="profile-item__name">Телефон</div>
          <div class="profile-item__value">+7 (909) 967 30 30</div>
        </div>
      </div>

      <ul class="profile-links">
        <li><a href="./profile-edit.hbs">Изменить данные</a></li>
        <li><a href="./profile-password.hbs">Изменить пароль</a></li>
        <li><a href="./user-login.hbs" class="color-red">Выйти</a></li>
      </ul>

    </div>

  </main>

</div>
