---
title: Изменение пароля
styles:
  - '../styles/page-profile.scss'
---

{{!< main}}

<div class="fbox">

  <a class="profile__back" href="./profile.hbs"></a>

  <main class="profile">

    <div class="profile-data">

      <form>

        <div class="avatar profile-avatar"></div>

        <div class="profile-list">
          <div class="profile-item">
            <label class="profile-item__name" for="password-old">Старый пароль</label>
            <div class="profile-item__edit">
              <input type="password" name="oldPassword" class="form-control_profile" id="password-old" required>
            </div>
          </div>
          <div class="profile-item">
            <label class="profile-item__name" for="password-new">Новый пароль</label>
            <div class="profile-item__edit">
              <input type="password" name="newPassword" class="form-control_profile" id="password-new" required>
            </div>
          </div>
          <div class="profile-item">
            <label class="profile-item__name" for="password-new2">Повторите новый пароль</label>
            <div class="profile-item__edit">
              <input type="password" name="newPassword2" class="form-control_profile" id="password-new2" required>
            </div>
          </div>
        </div>

        <div class="form-group form-group_btns">
          <button class="btn btn_primary w-100" type="submit">Сохранить</button>
        </div>

      </form>

    </div>

  </main>

</div>
