.chat-messages {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  margin-right: -20px;
  padding-right: 20px;
}

.chat-date {
  margin-bottom: 30px;
  align-self: center;
  color: var(--color-gray);

  .chat-message + & {
    margin-top: 30px;
  }
}
