<!DOCTYPE html>
<html lang="ru">
<head>
  <title>{{#block "title"}}{{title}} | {{/block}}Messenger</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../assets/favicon.svg">
  <link rel="stylesheet" href="../styles/all.scss">
  {{#each styles}}
    <link rel="stylesheet" href="{{this}}">
  {{/each}}
</head>
<body>
{{{body}}}
</body>
</html>
